<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/dist/output.css" />
    <title>Disclaimer</title>
  </head>
  <body>
    <section class="p-4 max-w-3xl">
      <h1 class="text-4xl text-center">Disclaimer</h1>
      <h1 class="text-left">
        1. Understanding AI: Artificial Intelligence (AI) is a rapidly advancing
        technology designed to mimic human intelligence in certain tasks.
        However, it's important to understand that AI is not human and does not
        possess consciousness, emotions, or self-awareness
      </h1>
      <h1 class="text-left">
        2. Error Possibilities: AI systems are programmed based on the data they
        are trained with. Therefore, any errors, biases, or limitations in the
        training data may result in incorrect or misleading outputs from the AI
        system.
      </h1>
      <h1 class="text-left">
        3. Contextual Understanding: AI currently lacks the ability to
        understand context and nuances as deeply as humans do. This means that
        while it can process large amounts of data quickly, it may struggle with
        complex or subjective problems that require a deep understanding of
        human emotions, culture, or personal experiences.
      </h1>
      <h1 class="text-left">
        4. Creative Thinking: AI is not capable of truly creative thinking or
        original thought. It can generate ideas based on patterns and learned
        data, but these ideas are not the result of personal inspiration or
        intuition.
      </h1>
      <h1 class="text-left">
        5. Ethical Decision Making: AI lacks a moral compass and cannot make
        ethical decisions in the way humans do. It will always follow the
        instructions it has been given, even if those instructions lead to
        unethical outcomes.
      </h1>
      <h1 class="text-left">
        6. Dependency Risks: While AI can be a valuable tool, over-reliance on
        it can lead to dependency risks. It's important to maintain a balance
        between human judgment and AI assistance.
      </h1>
      <h1 class="text-left">
        7. Accountability: Since AI does not possess human emotions or
        consciousness, questions of accountability can arise. It's important to
        remember that the developers and users of AI are ultimately responsible
        for its actions. By using this AI service, you acknowledge and accept
        these limitations. If you have any concerns or issues, please contact
        our support team for assistance.
      </h1>
    </section>
  </body>
</html>
